.nav-img{
    width:63px;
    height:32px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.display-4{
    font-weight: 600;
}

.about-section {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.secondary{
    font-weight:200;
}

.section-two{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.text-secondary {
    color: #86136d!important;
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.text-white {
    color: #fff!important;
}
.bg-secondary {
    background-color: #86136d!important;
}
.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
h3, .h3 {
    font-size: 1.75rem;
}