.nav-img{
    width:63px;
    height:32px;
}
.second-nav{
    width: 24px;
    height:24px;
}
.section2{
    margin-top:30px;
}
.ms-1{
    margin-right: 790px;
    color:green;
}

.images-1{
    width: 460px;
    height: 250px;
   margin-left: 430px;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}
h1 {
    font-size: 2.5rem;
}
h1 {
    margin-bottom: 0.5rem;
    font-family: raleway,sans-serif;
    font-weight: 500;
    line-height: 1.2;
}
h1{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.text-primary {
    color: #13862c!important;
}
.text-center {
    text-align: center!important;
}
.card-1{
    font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-weight: 500;
    line-height: 1.2;
}

.card-text:last-child {
    margin-bottom: 0;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.text-center {
    text-align: center!important;
}