.nav-img{
    width:63px;
    height:32px;
}

.second-nav{
    width: 24px;
    height:24px;
}
.ms-1{
    margin-right: 1060px;
    color:green;
}
.images-1{
    width: 350px;
    height: 180px;
   margin-left: 530px;
}

/* .display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
} */

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}
h1 {
    font-size: 2.5rem;
}
h1 {
    margin-bottom: 0.5rem;
    font-family: raleway,sans-serif;
    font-weight: 500;
    line-height: 1.2;
}
h1{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.text-primary {
    color: #13862c!important;
}
.text-center {
    text-align: center!important;
}



.text-center {
    text-align: center!important;
}



.card-one{
    margin-bottom:800px;
}

.card-columns {
    column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}
.cd{
    margin-bottom: 360px;
}
.dp{
    margin-bottom:700px;
}
@media (min-width: 576px)
{
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}


/* ===================================== */


.chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 30px;
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
}

.collapsible {
    background-color: #86136d;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 70px;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 40px ;
    border: 3px solid white;
    border-bottom: none;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* background-color: #f1f1f1; */
    background-color:#000;
}

.full-chat-block {
    width: 350px;
    background: white;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
}

.outer-container {
    min-height: 500px;
    bottom: 0%;
    position: relative;
}

.chat-container {
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-bar-input-block {
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
}

#chat-icon:hover {
    opacity: .7;
}

/* Chat bubbles */

#userInput {
    width: 75%;
}

.input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none
}

.userText {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
}

.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: #5ca6fa;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
}

.botText {
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}

.botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
}