.nav-img{
    width:63px;
    height:32px;
}
.second-nav{
    width: 24px;
    height:24px;
}
.section2{
    margin-top:30px;
}
.ms-1{
    margin-right: 790px;
    color:green;
}

.images-1{
    width: 460px;
    height: 250px;
   margin-left: 430px;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}
h1 {
    font-size: 2.5rem;
}
h1 {
    margin-bottom: 0.5rem;
    font-family: raleway,sans-serif;
    font-weight: 500;
    line-height: 1.2;
}
h1{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.text-primary {
    color: #13862c!important;
}
.text-center {
    text-align: center!important;
}
@media (min-width: 576px)
{
    .jumbotron {
        padding: 4rem 2rem;
    }
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #c7d1c9;
    border-radius: 0.3rem;
}
.text-right {
    text-align: right!important;
}
.blockquote-footer {
    display: block;
    font-size: 80%;
    color: #5c7060;
}
.lead {
    font-size: 25px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.text-primary {
    color: #13862c!important;
}
.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    flex-shrink: 0;
    width: 300px;
    font-size:140px;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    max-width: 100vw;
}
